.block.horizontal-padding-25
  .block__menu
    購入内容の確認
.block.horizontal-padding-25
  .block__main
    .item-purchase-confirmation
      .item-purchase-confirmation__image-and-name
        = image_tag @item.item_images[0].image.url
      .item-purchase-confirmation__image-and-name--name
        = @item.name
      .item-purchase-confirmation__price
        .item-purchase-confirmation__price--yen
          ¥
          = @item.price
    #amount
      #amount__left
        支払金額
      #amount__right
        ¥
        = @item.price
    = link_to purchase_item_path(@item), method: :post do
      .button.back-main_color
        購入する
.block.horizontal-padding-25
  .block__menu-left
    配送先
  .block__main
    〒#{@address.postal_code}
    %br
    #{@address.city} #{@address.house_number}
    %br
    #{@address.user.first_name} #{@address.user.last_name}

.block.horizontal-padding-25
  .block__menu-left
    支払い方法
  .block__main
    #card-data
      - if @card
        = @card[:last4]
        %br
        = @card[:exp_month]
        \/
        = @card[:exp_year]
        %br
        = @card[:brand]
      - else
        \/

