%header.header-no-menu
  = link_to root_path do
    = image_tag 'logo.png', class: "logo"
  -if @progress
    .progress-bar
      .progress
        .progress-title{class: "#{'doing' if @progress == 1}"}
          会員情報
        .progress-node
          .progress-node__circle{class: "#{'done' if @progress >= 1}"}
          .progress-node__line{class: "#{'done' if @progress >= 2}"}
      .progress
        .progress-title{class: "#{'doing' if @progress == 2}"}
          電話番号認証
        .progress-node
          .progress-node__circle{class: "#{'done' if @progress >= 2}"}
          .progress-node__line{class: "#{'done' if @progress >= 3}"}
      .progress
        .progress-title{class: "#{'doing' if @progress == 3}"}
          お届け先住所入力
        .progress-node
          .progress-node__circle{class: "#{'done' if @progress >= 3}"}
          .progress-node__line{class: "#{'done' if @progress >= 4}"}
      .progress
        .progress-title{class: "#{'doing' if @progress == 4}"}
          支払い方法
        .progress-node
          .progress-node__circle{class: "#{'done' if @progress >= 4}"}
          .progress-node__line{class: "#{'done' if @progress >= 5}"}
      .progress
        .progress-title{class: "#{'doing' if @progress == 5}"}
          完了
        .progress-node
          .progress-node__circle{class: "#{'done' if @progress >= 5}"}
